<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="MyDbConnection"
             connectionString="Server=192.168.10.198;Port=3306;Database=gd_credit;Uid=gdcredit;Pwd=Gd@1234.com"
             providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>




